/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    	font-size: 100%;
	float: left;
}
/* the styles for the header */
header img {
	float: left;
	
}

/* the styles for the main content */
main {
	clear: left;
}
main h1 {
	font-size: 150%;
}
main h2 {
	
	color: rgb(150, 00, 00);
	font-size: 170%;
}
main h3 {
	
	font-size: 130%;
	font-style: italic; 
}

/* the styles for the footer */
